@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&family=Special+Elite&display=swap');
body{
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-family: 'Special Elite', cursive;
    background-color: black;
     margin: 0;
     padding: 0rem;
     color: white;
    
}
.background-img{
    background-image: linear-gradient(black, red, yellow);
}
.textin{
    width: 80%;
    display: block;
    margin:1rem;
    padding: 1rem;
    height: 10vh;
    position: relative;
    left: 6%;
    background-color: #283747;
    border-radius: 0.5rem;
    border: 1px solid red;
    color: white;
    font-weight: bold;
}
#output{
    border: 5px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    position: absolute;
    left:7%;
    background-color: #283747;
    overflow: hidden;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
}
#button1{
    align-self: center;
    margin: 0;
    position: absolute;
    left: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
      
}
#button2{
    align-self: center;
    margin: 0;
    position: absolute;
    left: 55%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
      
}
.heading{
    /* background: #FFF120; */
    background: #283747;
    padding: 1rem 1rem ;
    margin: 0px;
    border-radius: 0rem 0rem 1rem 1rem;
    text-align: center;
    border: 3px solid black;
}
p{
    /* font-weight: bold; */
    font-size: 22px;

}
nav{
    padding: 1rem 0rem 0rem 0rem;
    font-size: 40px;
    font-weight: bolder;
    background: black;
    text-align: center;
    border: 3px solid black;
}
#button1{
    color: black;
    background-color: black;
    color: white;
    border-style: solid;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
    border-color: black;
}
#button1:hover{
    background-color: #D35400;
    color: white;
}
#button2{
    color: black;
    background-color: black;
    color: white;
    border-style: solid;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
    border-color: black;
}
#button2:hover{
    background-color: #D35400;
    color: white;
}
.inline{
    display:inline;
    padding: 1rem 1.5rem;
}
.non-bullet{
    list-style: none;
}
.footer-items{ 
    text-align: center;
    font-size: large;
}

.footer {
    background-color: black;
    padding: 1rem;
    text-align: center;
    color: var(--black);
    border-top-right-radius: 1rem;
    font-weight:bold ;
}

.footer .link {
    color: white;
}
.footer .link:hover {
    color: #D35400;
}

.footer .footer-header {
    font-weight: bold;
    font-size: .75cm;
}

.footer ul {
    padding-inline-start: 0px;
}